body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f9fa;
}
.card {
  width: 200px; /* Adjust card width */
  margin-left: 10px; /* Adjust margin */
  margin-top: 10px; /* Adjust margin */
}

.card-img-top {
  height: 150px; /* Adjust image height */
}

.card-body {
  padding: 5px; /* Reduce padding inside the card */
  text-align: center;
}

.card-title {
  font-size: 14px; /* Adjust font size */
}
